<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/request.css' %}">
	  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <title>View Requirements</title>

  <style>
  table {
    border-collapse: collapse;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    word-wrap: break-word;
      max-width: 200px;
  }

  tr {
  }

  </style>
  </head>
  <body>
  	<h1>Approval Page</h1>
    <form method="post">
      {% csrf_token %}
      <input onclick="location.href='{% url 'floorplan' adminID active %}'" type="button" value="Home">
      <input onclick="location.href='{% url 'logout' adminID %}'" type="button" value="Logout">
      <input onclick="location.href='{% url 'confirm' adminID active %}'" type="button" value="Approve All">
      <div>
        <label for="yearOfEntry">Year Of Entry: </label>
        <input required type="text" id="yearOfEntry" name="yearOfEntry" autocomplete="off">
        <br>
        <label for="numEntries">Number Of Entries: </label>
        <input required type="number" id="numEntries" name="numEntries" autocomplete="off">
      </div>
      <input type="submit" value="Reset" >
    </form>
    

  <table class="table table-hover">
    <tr class="table-info">
      <th>Team ID</th>
      <th>Team PW</th>
      <th>Project Name</th>
      <th>Project Type</th>
      <th>Industry</th>
      <th>Representative Email</th>
      <th>Request Date</th>
      <th>Prototype Dimensions (LxWxH)</th>
      <th>Showcase Dimensions (LxWxH)</th>
      <th>Power Points</th>
      <th>Big Pedestals</th>
      <th>Small Pedestals</th>
      <th>Pedestal Description</th>
      <th>Monitor</th>
      <th>TVs</th>
      <th>Tables</th>
      <th>Chairs</th>
      <th>HDMI Adaptors</th>
      <th>Others</th>
      <th>Approval</th>
    </tr>
    {% for r in request %}
    <tr>
      <td>{{ r.req.teamID }}</td>
      <td>{{ r.tPw.teamPW }}</td>
      <td>{{ r.req.projectName }}</td>
      <td>{{ r.req.pType }}</td>
      <td>{{ r.req.industry }}</td>
      <td>{{ r.req.repEmail }}</td>
      <td>{{ r.req.reqDateTime }}</td>
      <td>{{ r.req.pLength }}x{{ r.req.pWidth }}x{{ r.req.pHeight }}</td>
      <td>{{ r.req.sLength }}x{{ r.req.sWidth }}x{{ r.req.sHeight }}</td>
      <td>{{ r.req.numPP }}</td>
      <td>{{ r.req.numBigPed }}</td>
      <td>{{ r.req.numSmallPed }}</td>
      <td>{{ r.req.pedDesc }}</td>
      <td>{{ r.req.numMonitor }}</td>
      <td>{{ r.req.numTV }}</td>
      <td>{{ r.req.numTable }}</td>
      <td>{{ r.req.numChair }}</td>
      <td>{{ r.req.numHDMI }}</td>
      <td>{{ r.req.other }}</td>
      <td>
        <button type="button">Notify</button>
      </td>
    </tr>
    {% endfor %}
  </table>
  </body>
</html>

