<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit</title>
    <script src="{% static 'node_modules/file-saver/dist/FileSaver.min.js' %}"></script>
    <script src="{% static 'node_modules/html2canvas/dist/html2canvas.min.js' %}"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="//daybrush.com/scenejs/release/latest/dist/scene.js"></script>
    <script src="//daybrush.com/moveable/release/latest/dist/moveable.min.js"></script>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/styles/default.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/lvl1_edit.css' %}">
    <link rel="icon" href="data:;base64,=">
    

  </head>
  <body>
    
  <h1>Edit</h1>
    
    <input onclick="location.href='{% url 'floorplan' adminID active %}'" type="button" value="Home">
    <input onclick="location.href='{% url 'edit2' adminID active %}'" type="button" value="Edit Second Floor">
    <input type="button" value="Save Allocation" id="btnSave">
    <input type="button" value="Download Image" id="btnSaveImage">
    <div class="label" id="mainlabel"></div>
    <div class="page main" id = "pageMain">
      <div class="container">
        <!--<img src="{% static 'images/lvl1floorplan.png' %}" class="center-fit">-->
    </div>
  </div> 
  <script>
    var token = '{{csrf_token}}';
    function sendAllocationData() {
      var jsonOutput = document.getElementById("mainlabel").getAttribute("data-json");
      console.log(jsonOutput);
      $.ajax({
                headers: { "X-CSRFToken": token },
                type : 'POST',
                url :  "{% url 'saveAllocation1' adminID active %}",
                data : jsonOutput,
                success : function(response){
            //reset the form after successful submit
                  console.log("success! 1");
                },
                error : function(response){
                  console.log(response)
                }
              });
  }
  </script>

<script src="{% static 'js/resize.js' %}" one='{{ allocation | safe }}'></script>
<script src="{% static 'js/saveAllocation1.js' %}"></script>
</body>
</html>