<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Floorplan</title>
  </head>
  <body>
  	<p>Home</p>
    <button onclick="location.href='{% url 'requirements' adminID active %}'" type="button">View Requirements</button>
    <button onclick="location.href='{% url 'edit' adminID active %}'" type="button">Edit</button>
    <button onclick="location.href='{% url 'approve' adminID active %}'" type="button">Approve</button>
    <button onclick="location.href='{% url 'logout' adminID %}'" type="button">Logout</button>
  </body>
</html>